html, body {
    width: 100%;
    height:100%;
    font-family: 'Bahnschrift Light', Arial, sans-serif;
  }
  html { overflow-x: hidden; overflow-y: hidden; }
  body {
      background: linear-gradient(-45deg, #ffffff, rgb(208, 223, 225), rgb(189, 217, 220), rgb(77, 147, 156), rgb(47, 77, 81));
      background-size: 200% 100%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#img{
    width: 600px;
    margin: 50px;
}
.margin{
    margin: 4%;
}
.head{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size:  calc(17px + (12 + 12 * 0.7) * ((100vw - 320px) / 1280));
}